# import k-means from clustering stage
from sklearn.cluster import KMeans


# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors


!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering libraryimport

## 1.Taking the table from wikipedia and then cleaning it

In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
#import the url
page = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [3]:
#Converting the table from the webpage into a table 
df = pd.DataFrame(page[0]) 
print("Number of Rows is {} and Coulumns is {} in the table".format(df.shape[0],df.shape[1]))
df.head(10)

Number of Rows is 180 and Coulumns is 3 in the table

  Postal Code           Borough                                 Neighborhood
0         M1A      Not assigned                                          NaN
1         M2A      Not assigned                                          NaN
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M8A      Not assigned                                          NaN
8         M9A         Etobicoke      Islington Avenue, Humber Valley Village
9         M1B       Scarborough                               Malvern, Rouge

In [4]:
# checking if the Column Neighborhood is empty or not. Assuming an empty value is will saved as NAN
df['Neighborhood'].isna().value_counts()

False    103
True      77
Name: Neighborhood, dtype: int64

**_We have 77 empty neighborhood value_**

In [5]:
#Let us eliminate the 
df_clean = df[df['Borough']!='Not assigned']
print("Number of Rows left is {} and Coulumns still is {} in the new table".format(df_clean.shape[0],df_clean.shape[1]))
df_clean.reset_index(inplace=True,drop=True)
df_clean.head(12)

Number of Rows left is 103 and Coulumns still is 3 in the new table

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
6,M1B,Scarborough,"Malvern, Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."

In [6]:
# checking if Neighborhood is still empty or not. Assuming an empty value is will saved as NAN
df_clean['Neighborhood'].isna().value_counts()

False    103
Name: Neighborhood, dtype: int64

**_It can be observed that the rows with empty Borough had empty Neighborhood Value_**

In [7]:
print("Number of Rows is {} and Coulumns is {} in the new table".format(df_clean.shape[0],df_clean.shape[1]))

Number of Rows is 103 and Coulumns is 3 in the new table

In [8]:
df_clean.shape

(103, 3)

## 2.Searching for Longitute and Latitude

In [19]:
df_post_code = pd.read_csv('http://cocl.us/Geospatial_data')
print(df_post_code.shape)
df_post_code.head()

(103, 3)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [14]:
df_post_code.sort_values(['Postal Code'],axis=0,inplace=True)
df_post_code.reset_index(inplace=True,drop=True)
df_post_code.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [15]:
df_2=df_clean.copy()
df_2.sort_values(['Postal Code'],axis=0,inplace=True)
df_2.reset_index(inplace=True,drop=True)
df_2.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [23]:
df_total=pd.concat([df_2,df_post_code[['Latitude','Longitude']]],axis=1)
df_total.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

##### To confirm I am correct I will just test by hard coding a chance location :

In [24]:
df_total.iloc[23,:]

Postal Code                 M2P
Borough              North York
Neighborhood    York Mills West
Latitude                43.7528
Longitude                 -79.4
Name: 23, dtype: object

In [25]:
df_post_code.iloc[23,:]

Postal Code        M2P
Latitude       43.7528
Longitude        -79.4
Name: 23, dtype: object